/****************
General
*****************/

body {
  background-color: #090E16;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1608px;
}

.section-highlight {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: inline;
  align-items: center;
  text-align: center;
  color: #7B4AE2;
  padding: 7px 10px;
  background: rgba(123, 74, 226, 0.1);
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .container {
    max-width: 328px;
  }

  .desktop-show {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-show {
    display: block;
  }
}

/****************
HEADER
*****************/

.social-link-icon-1 {
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 50%;
  color: #090E16;
}

.social-link-icon-1:hover {
  background-color: #7B4AE2;
}

.social-link-icon-2:hover {
  color: #7B4AE2;
}

.social-link-icon-2 {
  font-size: 32px;
  color: #84878b;
}

.header-title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.header-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
}

.header-cta a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  color: rgba(123, 74, 226, 0.5);
}

.header-cta a:hover {
  color: #7B4AE2;
}

#download-cv i {
  border-bottom: solid 1px rgba(123, 74, 226, 0.5);
  text-align: center;
  margin-left: 6px;
}

.header-btn {
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 8px;
  padding: 12px 10px;
  margin: auto 0;
  display: flex;
}

.header-btn:hover {
  background: rgba(123, 74, 226, 0.1);
  color: #7B4AE2;
}

.header-btn i {
  font-size: 20px;
  margin-right: 6px;
}

/****************
EXPERIENCE
*****************/

.experience-card {
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 16px;
  padding: 42px 0 30px;
  text-align: center;
  color: #FFFFFF;
}

.experience-card h2,.experience-card-alt h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

.experience-card h1, .experience-card-alt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.experience-card-alt {
  background: rgba(123, 74, 226, 0.1);
  border-radius: 16px;
  padding: 42px 0 30px;
  text-align: center;
  color: #FFFFFF;
}

/****************
ABOUT
*****************/

.about-name {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  color: #ffffff80;
}

/****************
PORFOLIO
*****************/

.portfolio-title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.projects-nav {
  display: flex;
}

.project-btn {
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 8px;
  display: block;
  text-align: center;
  padding: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(123, 74, 226, 0.5);
  cursor: pointer;
}

.project-btn i {
  margin-right: 6px;
}

.project-btn:hover {
  background: rgba(123, 74, 226, 0.1);
  font-weight: 700;
  color: #7B4AE2;
}

.project-card {
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 16px;
  padding: 30px 26px;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.project-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.project-tag {
  background: rgba(123, 74, 226, 0.1);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7B4AE2;
  padding: 5px 8px;
  cursor: pointer;
}

.project-tag:hover {
  background: rgba(123, 74, 226, 0.2);
}

.project-img {
  width: 100%;
  height: 160px;
  background-color: #3e59f1;
  border-radius: 8px;
}
